<div class="fixed-bottom bg-dark d-flex justify-content-between align-items-center" id="enviarResposta">

    
    <form class="container  d-flex justify-content-between align-items-center" id="envResp-container" method="POST" action='/enviarreposta'>

        <textarea name="" id="envResp-TextArea" style="resize: none" placeholder="Escreva sua resposta aqui..."  name="response" required></textarea>


        <button type="submit" class="btn btn-success text-center" id="envRespTextArea-btn" >Enviar Sua Resposta</button>



    </form>

</div>