    <div class="navbar navbar-light bg-dark fixed-top" >
        <a href="/" style="text-decoration: none; color : white;">
            <h1>Perguntas</h1>
        </a> 
        <a class="btn btn-secondary" href="/perguntar">Perguntar</a>
    </div>