    <div class="navbar navbar-light bg-dark fixed-top" >
        <a href="/">
            <img src="/imgs/guia.png" alt="" class="navbar-brand">
        </a> 
        <a class="btn btn-secondary" href="/perguntar">Perguntar</a>
    </div>