



<div class="d-flex fixed-bottom justify-content-end col-12" style=" height: 10vh; display: flex; "> 


    <a  style="visibility:hidden; margin:  0 15px 15px 0 ; padding: 1%; object-fit: contain; " id="btn-subir" onClick="subir()" class="col-1">
        <img src="imgs/icon/top.png" alt="" style="width: 40px; height: 40px; object-fit: contain">

    </a>

    <a class="col-1" style="visibility:hidden; margin:  0 15px 15px 0 ; padding: 1%; ; " id="btn-descer" onClick="descer()">
        <img src="imgs/icon/bottom.png" alt="" style="width: 40px; height: 40px; object-fit: contain">

        
    </a>

</div>

<script src="/js/jquery-3.6.0.min.js"></script>
 <script >


    if(false){
    
    } else{


        setInterval( () => { verificarScrool() }, 100)



        function verificarScrool() {

            let alturaDoDocumento = document.getElementsByTagName("html")[0].scrollHeight
            let alturaDaJanela = document.getElementsByTagName("html")[0].clientHeight
            let alturaAtualDoScroll = window.pageYOffset

            console.log('altura documento '  + alturaDoDocumento)
            console.log('altura da janela ' + alturaDaJanela)
            console.log('altura do scroll ' + alturaAtualDoScroll)

            console.log(alturaAtualDoScroll)

            if(alturaAtualDoScroll == 0 || alturaAtualDoScroll > (alturaDoDocumento/2)  || alturaAtualDoScroll < (alturaDoDocumento/2)   ) {

                document.getElementById("btn-descer").style.display = 'block'
                document.getElementById("btn-descer").style.visibility = 'visible'
                document.getElementById("btn-subir").style.display = 'none'        
            }

            if( alturaAtualDoScroll > (alturaDoDocumento*0.4) ) {

                document.getElementById("btn-subir").style.display = 'block'
                document.getElementById("btn-subir").style.visibility = 'visible'
                document.getElementById("btn-descer").style.display = 'none'        
            }



        }

        function subir(){
            window.scrollTo(0, 0);    
        }

        function descer(){
            window.scrollTo(0, document.getElementsByTagName("html")[0].scrollHeight - 100);    
        }


    }



 </script>
