<%- include('partials/header') %>

    <body style="margin-top: 10vh;">

        <%- include ('partials/navbar') %>
            <div class="container">
                <div class="card" id="formulario-pergunta">
                    <div class="card-header">
                        <h3>Realizar Pergunta</h3>

                    </div>

                    <div class="card-body">
                        <form  method="POST" action="/salvarpergunta"> 

                            <label for="">Título da Pergunta</label>
                            <input type="text" class="form-control" name="title" placeholder="Título da questão" required>
                            <br>

                            <label for="">Descrição</label>
                            <textarea placeholder="Escreva sua pergunta aqui" class="form-control" name="description" required></textarea>
                            <br>

                            <label for="">Seu Nome</label>
                            <input type="text" class="form-control" name="name" placeholder="Seu Nome" required>
                            <br>

                            <label for="">Email para notificar respostas (opicional)</label>
                            <input type="email" class="form-control" name="email" placeholder="exemplo@email.com" >
                            <br>

                            <button class="btn btn-dark">Perguntar</button>
                        </form>
                    </div>
                </div>

            </div>
            
    </body>

<%- include('partials/footer') %>