*{
    /* border: 1px solid bl ack; */
    box-sizing: border-box;
}

body{
    background-color: #eceff1;
}



#input-group-name{
    margin-bottom: 10px;
    width: 50%;
}

#enviarResposta{
    height: 20vh;
}

#container-pergunta{
    margin-bottom: 25vh;

}


@media only screen and (max-width: 768px) {
     #nome_pergunta, #resposta {
        font-size: 0.8rem !important;
    }
  }


@media only screen and (max-width:  540px) {
    #input-group-name{
        margin-bottom: 10px;
        width: 100%;
    }
    #nome_pergunta, #resposta {
        font-size: 1rem !important;
    }
}


/* @media only screen and (max-width:  430px) {

    #nome_pergunta, #resposta {
        font-size: 1rem !important;
    }
} */




